<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        formControlName="title"
        placeholder="Place title"
        required
      />
      <mat-error *ngIf="form.get('title')?.invalid"
        ><b>Please enter a title</b></mat-error
      >
    </mat-form-field>

    <div>
      <button
        mat-stroked-button
        type="button"
        style="width: 12%"
        (click)="filePicker.click()"
      >
        Pick Image
      </button>
      <input type="file" #filePicker />
    </div>

    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        formControlName="content"
        placeholder="Post Content"
        required
        minlength="5"
      ></textarea>
      <mat-error *ngIf="form.get('content')?.invalid"
        ><b>Please enter some content</b></mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="primary">Add Post</button>
  </form>
</mat-card>
