<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        [ngModel]="post?.title"
        placeholder="Place title"
        required
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid"><b>Please enter a title</b></mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        [ngModel]="post?.content"
        placeholder="Post Content"
        required
        minlength="5"
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid"
        ><b>Please enter some content</b></mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="primary">Add Post</button>
  </form>
</mat-card>
